// === SCSS FOR PORTFOLIO WEBSITE === 
// color scheme
$primary-color: #222;
$secondary-color: #fff;
$accent-color: #B63F55;

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    // border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    // border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #444;
}
body {
    width: 100%;
    font-family: 'Nunito', sans-serif;
}
// cool affect
canvas{
    background-color: $secondary-color;
    z-index: -1;
    position: fixed;
}
// header 
header {
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // flex header
    .header-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto;

        // header text
        .header-text {
            text-align: center;
            color: $primary-color;

            // titles
            .header-title {
                font-size: 4rem;
                padding: 10px;

                @media screen and (max-width: 900px) {
                    font-size: 3rem;
                }
                
                // name 
                .header-color {
                    color: $accent-color;
                }
            }
            .header-sub-title {
                font-size: 5rem;

                @media screen and (max-width: 900px) {
                    font-size: 4rem;
                }
                @media screen and (max-width: 730px) {
                    font-size: 3rem;
                }
                @media screen and (max-width: 540px) {
                    font-size: 2.2rem;
                }
            }
        }

        // social medias
        .social-medias {
            font-size: 5rem;
            color: $primary-color;
            transition: all 0.3s;

            @media screen and (max-width: 540px) {
                font-size: 4rem;
            }
            // social icons
            .fab {
                cursor: pointer;
                transition: all 0.3s;
            }
            .fab:hover {
                color: $accent-color;
            }
        }
    }
}
.color {
    color: $accent-color;
}
.typed-cursor {
    font-size: 4rem;

    @media screen and (max-width: 900px) {
        font-size: 3.5rem;
    }
    @media screen and (max-width: 730px) {
        font-size: 3rem;
    }
    @media screen and (max-width: 540px) {
        font-size: 2.5rem;
    }
}
.header-title-flex {
    display: flex;
    flex-direction: row;
}
// begin section
.begin {
    color: $primary-color;
    width: 100%;
    height: 150px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-end;

    // see what I do.
    .arrow-text {
        font-size: 2rem;
        transition: all 0.3s;
    }
    // arrow
    .arrow {
        color: $primary-color;
        transition: all 0.3s;

        .fas {
            font-size: 4rem;
            cursor: pointer;
        }
    }
    .arrow:hover {
        color: $accent-color;
    }
}
// main nav 
nav {
    width: 100%;
    height: 100px;
    background-color: $accent-color;
    display: flex;
    align-items: center;
    border-bottom: 5px solid $primary-color;

    // ul items to menu
    .menu-flex {
        display: flex;
        justify-content: start;
        margin-left: 10rem;
        transition: all 0.3s;

        @media screen and (max-width: 900px) {
            display: none;
        }

        a {
            text-decoration: none;
            color: $secondary-color;
        }
        a:hover {
            color: #333;
        }
        .menu-item {
            font-size: 1.2rem;
            margin: 1.2rem;
            cursor: pointer;
            transition: all 0.3s;
        }
        .menu-item:hover {
            color: #333;
        }
        .active {
            color: #222;
            border-bottom: 5px solid $primary-color;
            transition: all 0.3s;
        }
    }
    // flags
    .flags {
        display: flex;
        align-items: center;

        @media screen and (max-width: 900px) {
            justify-content: start;
        }
    }
    .flags-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .flags-container-first {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @media screen and (max-width: 900px) {
            position: relative;
            top: 0px;
            left: -60px;
        }
    }
    .en, .es {
        transition: all 0.3s;
    }
    .english {
        margin-left: 50px;
        transition: all 0.3s;

        @media screen and (max-width: 900px) {
            margin-left: 20px;
        }
    }
    .flags-images {
        display: block;
        width: 60px;
        height: 40px;
        cursor: pointer;
        border: 3px solid $secondary-color;
        border-radius: 10px;
        margin: 5px;
    }
}
// stick nav & animatation
#stickThis {
    margin-top: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: none;
    transition: all 0.3s;
}
// section headers
.section-header {
    font-size: 4rem;
    text-align: center;
    transition: all 0.3s;
    padding-top: 150px;
    text-transform: uppercase;

    @media screen and (max-width: 600px) {
        font-size: 3rem;
    }

    hr {
        width: 300px;
        border-width: 3.5px;
        border-color: $primary-color;
        border-radius: 10px;
    }
}
// icons & info
.icons-flex {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    
    @media screen and (max-width: 1200px) {
        flex-wrap: wrap;
        width: 70%;
    }
    @media screen and (max-width: 600px) {
        width: 90%;
    }
}
.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;

    #fix-rocket {
        padding: 30px 35px;
    }
    span {
        font-size: 3rem;
        padding: 30px 40px;
        background-color: $primary-color;
        border-radius: 100%;
        color: $secondary-color;
        border: 5px solid $accent-color;
    }
    h1 {
        font-size: 2.5rem;
        padding: 20px;
    }
    p {
        font-size: 1.5rem;
        padding: 10px 25px;
        color: #333;

        @media screen and (max-width: 650px) {
            font-size: 1.2rem;
        }
    }
}
.about-intro {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;

    @media screen and (max-width: 1400px) {
        flex-direction: column;
    }
}
.about-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    box-align: center;
    box-pack: center;
    width: 35%;

    @media screen and (max-width: 1400px) {
        width: 80%;
        margin-bottom: 20px;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        box-align: center;
        box-pack: center;

        img {
            border: 10px solid $primary-color;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            margin: 10px;
            transition: all 0.3s;
            
            @media screen and (max-width: 900px) {
                width: 200px;
                height: 200px;
            }
        }
        p {
            font-size: 1.5rem;
            padding: 1rem;
            text-indent: 2rem;

            @media screen and (max-width: 1400px) {
                width: 80%;
            }
            @media screen and (max-width: 900px) {
                padding: 1rem 0rem;
                font-size: 1.2rem;
            }
            @media screen and (max-width: 600px) {
                width: 90%;
            }

            span {
                color: $accent-color;
            }
        }
    }
}
.about-skills {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-content: center;

    @media screen and (max-width: 1400px) {
        width: 80%;
    }
    @media screen and (max-width: 750px) {
        width: 95%;
    }
}
.skills-text {
    display: flex;
    flex-direction: row;
    width: 280px;
    align-items: center;
    justify-content: flex-end;
    border-right: 2px solid lightgray;

    @media screen and (max-width: 650px) {
        border-right: none;
        width: 100%;
    }

    h1 {
        font-size: 1.3rem;
        padding: 5px;
        margin-right: 5px;

        @media screen and (max-width: 750px) {
            font-size: 1.0rem;
        }
    }
    i {
        font-size: 2.5rem;
        padding: 5px;
        color: $accent-color;
        margin-right: 10px;
    }
    img {
        width: 50px;
        margin-right: 10px;
    }
}
.progress {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
}
.my-progress {
    width: 100%;
    background-color: #ddd;
    border-radius: 10px;
    margin-left: 15px;
    padding: 5px;
}
.bar {
    height: 30px;
    background-color: $accent-color;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: $secondary-color;
    border-radius: 10px;
    width: 10%;
}
// menu button SASS from https://codepen.io/anon/pen/wZjbMG
$menu-color: $secondary-color;
$snappy : cubic-bezier(0.694,  0.048, 0.335, 1.000);

.menu-container {
    display: none;
    cursor: pointer;

  .bars {
    width: 60px;
    height: 20px;
    position: absolute;
    z-index: 12;
    top: 20px;
    left: 80%;
    transition: transform 0.3s $snappy;
    // border: 1px solid white;

    span {
      display: block;
      width: 100%;
      height: 10px;
      background-color: $menu-color;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform 0.2s $snappy;
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        width: 65%;
        transition: width 0.2s $snappy;
        transition-delay: 0.4s;
      }
    }
    .other-bar {
      width: 10px;
      height: 0;
      background-color: $menu-color;
      position: absolute;
      top: -7px;
      left: 50%;
      margin-left: -5px;
      transition: height 0.4s $snappy;
      z-index: 10;
    }
  }
  &.is-menu-open {
    .bars {
      transform: rotate(45deg);
      transition-delay: 0.4s;
      span {
        &:first-child {
          transform: scaleX(0);
          transition: transform 0.2s $snappy;
        }
        &:nth-child(3) {
          width: 0;
          transition: width 0.2s $snappy;
        }
      }
      .other-bar {
        height: 63px;
        transition: height 0.2s $snappy;
        transition-delay: 0.3s;
      }
    }
  }
}
.menu-container-first {
    display: none;
    cursor: pointer;
    position: relative;
    top: -15px;
    left: 80%;

  .bars-first {
    width: 60px;
    height: 20px;
    z-index: 12;
    transition: transform 0.3s $snappy;
    // border: 1px solid white;

    span {
      display: block;
      width: 100%;
      height: 10px;
      background-color: $menu-color;
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
        transform: scaleX(1);
        transition: transform 0.2s $snappy;
        transition-delay: 0.4s;
      }
      &:nth-child(3) {
        width: 65%;
        transition: width 0.2s $snappy;
        transition-delay: 0.4s;
      }
    }
  }
}
.mobile-menu {
    display: none;
    position: fixed;
    top: 100px;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color: $primary-color;
    overflow: hidden;
    border: 10px solid $accent-color;
    border-top: 10px solid $primary-color;
    text-align: center;
}
.mobile-menu-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-menu-item {
    margin: 5px;
    margin-top: 50px;
    font-size: 3rem;
}
.a-mobile {
    text-decoration: none;
    transition: all 0.3s;
    color: $secondary-color;
}
.a-mobile:hover {
    color: $accent-color;
}
.contact-footer-image {
    width: 100%;
    transform: translateY(4px);
}
.contact-section {
    background: $accent-color;
    color: $secondary-color;
}
footer {
    background: $primary-color;
    width: 100%;
    height: 200px;
    color: $secondary-color;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social-medias-footer {
    font-size: 3rem;
    margin: 10px;
    cursor: pointer;

    i {
        transition: all 0.3s;
    }
    i:hover {
        color: $accent-color;
    }
}
.back-to-top-box {
    position: absolute;
    margin-top: -100px;
    background: $secondary-color;
    padding: 0 20px;
    border-radius: 10px;
}
.up-arrow {
    font-size: 5rem;
    color: $primary-color;
    cursor: pointer;
}
// contact box
.contact-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;

    form {
       display: flex;
       justify-content: center;
       flex-direction: column;
       background: #222;
       padding: 30px;
       align-items: center;
       margin: 20px;
       border-radius: 10px;
       transition: all 0.3s;

        @media screen and (max-width: 500px) {
            padding: 5px;
            margin: 10px;
        }
       
       div {
           display: flex;
           justify-content: center;
           align-items: center;

            @media screen and (max-width: 920px) {
                flex-wrap: wrap;
            }

            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 20px;

                input {
                    width: 300px;
                    padding: 15px 10px;
                    margin: 20px 10px;
                    font-size: 1.5rem;
                    border-radius: 10px;
                    border: 2px solid $accent-color;
                }
                input:focus {
                    outline: none;
                    border-color: lighten($primary-color, 20%);
                }
            }
            textarea {
                font-size: 1.5rem;
                padding: 10px;
                margin: 10px;
                height: 270px;
                width: 400px;
                border-radius: 10px;
                border: 2px solid $accent-color;
                transition: all 0.3s;

                @media screen and (max-width: 920px) {
                    width: 300px;
                }
            }
            textarea:focus {
                outline: none;
                border-color: lighten($primary-color, 20%);
            }
       }
    }
}
#submit {
    cursor: pointer;
    font-size: 1.5rem;
    padding: 10px 15px;
    margin: 20px;
    margin-bottom: 0;
    max-width: 300px;
    border-radius: 10px;
    border: 2px solid $accent-color;
    background: $secondary-color;
    color: $primary-color;
    transition: all 0.3s;

    @media screen and (max-width: 500px) {
        margin-bottom: 20px;
    }
}
#submit:hover {
    color: $accent-color;
}
#submit:focus {
    outline: none;
}
// projects and portfolio page
.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    transition: all 0.3s;

    @media screen and (max-width: 1100px) {
        flex-direction: column;
    }
}
.project-items {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid $primary-color;
    border-radius: 10px;
    margin: 20px auto;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 450px;
            height: 350px;
            border-bottom: 5px solid $primary-color;
            transition: all 0.3s;

            @media screen and (max-width:1600px) {
                width: 350px;
                height: 250px;
            }
            @media screen and (max-width: 1250px) {
                width: 300px;
                height: 200px;
            }
            @media screen and (max-width: 1100px) {
                width: 450px;
                height: 350px;
            }
            @media screen and (max-width: 600px) {
                width: 300px;
                height: 200px;
            }
        }
        span {
            font-size: 2rem;
            padding: 5px;
            background-color: $accent-color;
            width: 100%;
            text-align: center;
            color: $secondary-color;
            transition: all 0.3s;
            cursor: pointer;

            @media screen and (max-width: 1250px) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: 1100px) {
                font-size: 2rem;
            }
        }
        span:hover {
            color: $primary-color;
            background-color: $secondary-color;
        }
        hr {
            border-width: 2px;
            border-color: $primary-color;
            width: 100%;
            margin: 0;
        }
    }
}
// fade in on scroll
.hideme {
    opacity:0;
}